*.pages
*.xlsx
*.xls
*.bibtex   
*.doc 
*.DOC
*.docx
*.DOCX
*.dot      
*.DOT
*.pdf
*.PDF
*.nii.gz
*.nii
*.png
*.jpg
*.jpeg
code/clustering/output_*
code/similarity-analysis/output_*
code/similarity-visualization/output_*

